body{
    width: 1920px;

}
/* merged display inline blocks */
.inl-block{
    display: inline-block;
}

/* fixed navigation bar */
nav{
    position: fixed;
    top: 53px;
    left: 350px;
    width: 1220px;
    height: 65px;
}
/* logo */
.logo-wraper{
   width: 197px;
   height: 65px;
   margin-right: 196px;

    color: #37393F;
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 700;
}
.logos-span{
    color: #6B77E5;
}

/* navigation links */
.navigation{
    width: 640px;
    height: 65px;
}

.nav-links{
    color: #37393F;
    text-align: center;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    margin-right: 40px;

}
.consulting-div{
    width: 184px;
    height: 65px;
    padding: 21px 35px 22px 35px;
    background-color: #6B77E5;
}
.consulting-div a{
    color: #FFF;
    text-align: center;
    font-family: 'Cabin';
    font-size: 18px;
    font-weight: 600;
}
