body{
    width: 1920px;

}
/* merged display inline blocks */
.inl-block{
    display: inline-block;
}

/* fixed navigation bar */
.header{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 350px;
    width: 1220px;
    height: 200px;
    background-color: #FFFFFF;
     padding-top: 35px; 
}

/* logo */
.logo-wraper{
   /* width: 197px; */
   /* height: 65px; */
   margin-right: 195px;
    color: #37393F;
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 700;
    vertical-align: middle;
}
.logos-span{
    color: #6B77E5;
    vertical-align: middle;
}

/* navigation links */
.navigation{
    width: 641px;
    /* height: 65px; */
    vertical-align: middle;
}

.nav-links{
    color: #37393F;
    text-align: center;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    margin-right: 40px;
    vertical-align: middle;

}
.consulting-div{
    width: 184px;
    height: 65px;
    padding: 21px 35px 22px 35px;
    background-color: #6B77E5;
    vertical-align: middle;
}
.consulting-div a{
    color: #FFF;
    text-align: center;
    font-family: 'Cabin';
    font-size: 18px;
    font-weight: 600;
    vertical-align: middle;
}
/* text setion  */

.text-section{
    width: 1220px;
    position: relative;
    top: 254px;
    left: 350px;
}
.title-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title{
    display: inline-block;
    width: 283px;
    text-align: center;
    color: #37393F;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
}
.main-title{
    color: #37393F;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 48.4px;
}
.content-wrap{
    position: absolute;
    top: 127px;
    width: 1220px;
}
.content-bar{
    display: inline-block;
    width: 386px;
    padding: 58px 43px;
    background-color: #F4F4F4;
}
.content-text-wrap h2{
    color: #37393F;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 31.75px;
    margin-bottom: 16px;
}
.content-text-wrap p{
    color: #7D7D7D;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height:  26.314px;
    margin-bottom: 37px;
}

.link-testimonials{
    display: inline-block;
    width: 300px;
    color: #6B77E5;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    margin: 0 auto;
}
/* margin between bars */
.margin-set{
    margin: 0 27px;
}
/* icons centering */
.icon-wrap{
    display: inline-block;
    width: 300px;
    text-align: center;
    margin-top: 10px;

}
/* presentation section */
.presentation-section{
    position: relative;
    top: 825px;
    width: 100%;
    height: 557px;
    background-image: url(../images/photos/main-image.png);
}
.presentation-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 511px;

    color: #37393F;
    font-family: Inter;
    font-size: 18px;
    text-align: center;
}
.present-title{
    font-weight: 500;
    margin-bottom: 16px;
}
.resentation-header{
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 48.4px;
    margin-bottom:21px;
}
.presentation-content p{
    font-weight: 400;
    margin-bottom: 47px;
    line-height: 26px;
}
.play-link{
    position: relative;
    display: inline-block;
    width: 64.5px;
    height: 64.5px;
    background-color: #6B77E5;
    border-radius: 50%;
}
.play-link a{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}

